.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 300px;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Use contain to avoid cutting off */
}

/* Button Styles */
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.prev-button:hover,
.next-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .slider-container {
        height: 400px;
    }

    .slider-image {
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    .slider-container {
        height: 600px;
    }

    .slider-image {
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .hero-section {
        margin-top: -53px;
    }

    .slider-container {
        height: 250px;
    }

    .slider-image {
        object-fit: contain;
    }
}